snippet defn
	(defn ${0})
snippet def
	(def ${0})
snippet req
	(require ${0})
snippet loop
	(loop ${0})
snippet if
	(if ${0})
snippet recur
	(recur ${0})
snippet when
	(when ${0})
snippet for
	(for ${0})
snippet map
	(map ${0})
snippet reduce
	(reduce ${0})
snippet letfn
	(letfn ${0})
snippet iterate
	(iterate ${0})
snippet str
	(str ${0})
snippet =
	(= ${0})
snippet first
	(first ${0})
snippet second
	(second ${0})
snippet let
	(let ${0})
