snippet =
	<%= ${0} %>
snippet %
	<% ${0} %>
snippet end
	<% end %>
snippet ff
	<%= form_for ${1:changeset-or-conn}, ${2:path}(@conn, :${3:action}), fn f -> %>
		${0}
	<% end %>
snippet l
	<%= link "${1:text}", to: ${2}${0} %>
