snippet defm
	defmodule ${1} do
		${0}
	end
snippet def
	def ${1} do
		${0}
	end
snippet defl
	def ${1}, do: ${0}
snippet defp
	defp ${1} do
		${0}
	end
snippet doc
	@doc """
	${0}
	"""
snippet mdoc
	@moduledoc """
	${0}
	"""
snippet test
	test "${1}"${2} do
		${0}
	end
snippet okk
	{:ok, ${1}}${0}
snippet p
	IO.puts ${0}
snippet i
	IO.inspect ${0}
snippet join
	|> Enum.join(",")
snippet if
	if ${1} do
		${0}
	end
snippet ife
	if ${1} do
		${2}
	else
		${0}
	end
