snippet br
	<${1:br} />${2}
snippet div
	<${1:div}${2}>
		${3}
	</$1>
snippet tag
	<${1:tag}${2}>${0}</$1>
snippet p
	<p>${0}</p>
snippet h1
	<h1>${0}</h1>
snippet h2
	<h2>${0}</h2>
snippet h3
	<h3>${0}</h3>
snippet table
	<table>
		${0}
	</table>
snippet td
	<td>${0}</td>
snippet tr
	<tr>
		${0}
	</tr>
