snippet us
	'use strict';
snippet cl
	console.log("${0}");
snippet fn
	function(${1}) {${0}}
snippet fun
	function ${1}(${2}) {
	  ${0}
	}
snippet if
	if (${1}) {
		${0}
	}
snippet ife
	if (${1}) {
		${0}
	} else {
	}
