snippet class
	public class ${1} {
		${0}
	}

snippet pmet
	public ${1:void} ${2:name}(${3}) {
		${0}
	}

snippet met
	${1:private} ${2:void} ${3:name}(${4}) {
		${0}
	}

snippet var
	${1:private} ${2:String} ${0:name};

snippet enum
	public enum ${1:name} {
		${0}
	}
