snippet cont
	context '${1}' do
		${0}
	end
snippet desc
	describe ${1:name} do
		${0}
	end
snippet it
	it '${1}' do
		${0}
	end
snippet itb
	it { ${0} }
snippet feat
	feature '${1:name}' do
		${0}
	end
snippet scen
	scenario '${1}' do
		${0}
	end
snippet let
	let(:${1}) { ${0} }
snippet bef
	before do
		${0}
	end
snippet aft
	after do
		${0}
	end
