snippet if
	if [ ${1} ]; then
		${2}
	fi
snippet ife
	if [ ${1} ]; then
		${2}
	else
		${3}
	fi
snippet for
	for ${1} in ${2}
	do
		${3}
	done
snippet ec
	echo "${1}"
snippet while
	while [[ ${1} ]]; do
		${2}
	done
snippet case
	case ${1:word} in
		${2:pattern})
			${0};;
	esac
snippet bash
	#!/usr/bin/env bash
snippet type
	type ${0} > /dev/null 2>&1
